@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
/* utility */
.box{ max-width: 1390px; margin: auto;}
.marTB{margin-top: 3%; margin-bottom: 3%;}
.pad{padding: 1%;}
.marR{margin-right: 5%;}
.marT{margin-top: 1%;}
.flex{display: flex;}
.fcol{display: flex; flex-direction: column;}
/* --------------- */
img{
    width: 100%;
}
a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.fix_Head{
    display: flex;
    flex-direction: row;
    background-color: #ff6900;
    color: white;
    justify-content: space-around;
    height: 7vh;
    z-index: 100;
}

.fix_Head img{
    height: 43%;
}

.fix_Text{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
    justify-content: space-around;
}

.fix_Text a:hover{
    color: #3d5afe;
    text-decoration: underline;
}

.fix_Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 5%;
    justify-content: space-around;
}

.fix_Logo a:hover{
    color: #3d5afe;
}

.fix_Content_img{
    display: flex;
    align-items: center;
}

.fix_Main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    width: calc(100%/3 - 20px);
    margin-bottom: 4rem;
}
.fix_Img{
    width: 100%;
    height: 92%;
    position: relative;
}
.fix_Img:hover .img1{
    display: none;
}
.fix_Img:hover .img2{
    display: block;
}
.img1{
    display: block;
}
.img2{
    display: none;
}
.pAbsTop{position: absolute;
    top: 10%;
    right: 5%;
    font-size: 2rem;}
.pAbsTop:hover {
    color: crimson;
    cursor: pointer;
}
.posAbsBot{
    display: flex;
    position: absolute;
    flex-direction: row;
    bottom: 5%;
}
.fix_sconto{
    background-color: red;
    font-size: 25px;
}
.fix_sos{
    background-color: green;
    font-size: 25px;
}
.fix_desc{
    font-size: 140%;
}
.fix_prezzo{
    color: red;
}
.prezzo_canc{
    text-decoration: line-through;
}